@font-face {
    font-family: 'TitilliumWebBold';
    src: url('/fonts/TitilliumWeb-Bold.ttf');
}
@font-face {
    font-family: 'TitilliumWebSemiBold';
    src: url('/fonts/TitilliumWeb-SemiBold.ttf');
}
@font-face {
    font-family: 'TitilliumWeb';
    src: url('/fonts/TitilliumWeb-Regular.ttf');
}
@font-face {
    font-family: 'TitilliumWebLight';
    src: url('/fonts/TitilliumWeb-Light.ttf');
}
@font-face {
    font-family: 'TitilliumWebItalic';
    src: url('/fonts/TitilliumWeb-Italic.ttf');
}



