
.header_wrapper {
    width: 100%;
    background-color: $headerColor;
    .container {
        padding-top: $paddingTop;
        padding-bottom: 55px;
        
        .logo {
            display: inline-block;
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        @import '_nav.scss';

}
}
